/NetBeansProjects/NamCat_BaiTapLapTrinhDesktopJV01Part3/nbproject/private/
/NetBeansProjects/NamCat_BaiTapLapTrinhDesktopJV01Part3/build/
/NetBeansProjects/NamCat_BaiTapVoiMang_Part1/nbproject/private/
/NetBeansProjects/NamCat_BaiTapVoiMang_Part1/build/
/NetBeansProjects/AppKT_240524_CatHN/nbproject/private/
/NetBeansProjects/AppKT_240524_CatHN/build/
/NetBeansProjects/NamCat_LopVaDoiTuong/nbproject/private/
/NetBeansProjects/NamCat_LopVaDoiTuong/build/
/NetBeansProjects/NamCat_LopVaDoiTuong2/nbproject/private/
/NetBeansProjects/NamCat_LopVaDoiTuong2/build/
/Sourcecodes/Stanford_LopVaDoiTuong_J0424/build/
/Sourcecodes/Stanford_LopVaDoiTuong_J0424/nbproject/private/
/NetBeansProjects/DanhSachSinhVien/nbproject/private/
/NetBeansProjects/DanhSachSinhVien/build/
/NetBeansProjects/NamCat_BaiTapLopVaDoiTuong/nbproject/private/
/NetBeansProjects/NamCat_BaiTapLopVaDoiTuong/build/
/NetBeansProjects/NamCat_TinhToanLib/nbproject/private/
