/NetBeans/NetBeans Practicing/NamCat_BaiTapLapTrinhDesktop/nbproject/private/
/NetBeans/NetBeans Practicing/NamCat_BaiTapLapTrinhDesktop/build/
/NetBeans/NetBeans Practicing/NamCat_BaiTapCauTruc_Part_01/nbproject/private/
/NetBeans/NetBeans Practicing/NamCat_BaiTapVoiMang_Part_02/nbproject/private/
/NetBeans/NetBeans Practicing/Project_QLSinhVien/dist/
