* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif /* Áp dụng cho những nội dung chữ không có gạch chân */;
    font-size: 1.6rem;
    font-weight: normal;
    height: 100vh;
}

.link {
    text-decoration: none;
    padding: 1rem 5rem;
    text-align: center;
    color: white;
    background-color: violet;
}


