<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới hoặc sửa sách</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        .row
        {
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <form action="#" method="post" th:action="@{/admin/sach/themMoiSach}" th:object="${sach}" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Nhập thông tin sách</legend>
                        <div class="container-fluid">
                            <div class="row">
                                <label class="col-md-2">
                                    Mã sách:
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" th:field="*{maSach}"/>
                                    <td th:if="${#fields.hasErrors('maSach')}" th:errors="*{maSach}">Bạn phải nhập mã sách</td>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Tên sách:
                                </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" th:field="*{tenSach}"/>
                                    <td th:if="${#fields.hasErrors('tenSach')}" th:errors="*{tenSach}">Bạn phải nhập tên sách</td>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Mô tả:
                                </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" th:field="*{moTa}"/>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Ảnh sách:
                                </label>
                                <div class="col-md-10">
                                    <input type="file" name="fUpload" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Tác giả:
                                </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" th:field="*{tacGia}"/>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2">
                                    Giá sách:
                                </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" th:field="*{giaSach}"/>
                                </div>
                            </div>
                            <div th:class="row">
                                <div class="col-md-2">
                                    Chủ đề:
                                </div>
                                <div class="col-md-10">
                                    <select th:field="*{maChuDe}" th:class="form-control">
                                        <option value="" label="Chọn chủ đề"/>
                                        <th:block th:each="c : ${chuDeList}">
                                            <option th:value="${c.maChuDe}">[[${c.tenChuDe}]]</option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-primary" name="btnCapNhat" value="Cập nhật"/>
                                    &nbsp;
                                    <a th:href="@{/admin/sach}" class="btn btn-primary">Trở về</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <span class="text-warning">[[${message}]]</span><br>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>