<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/home/layout}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý thông tin sản phẩm</title>
    <style type="text/css">
        .custom-width {
            padding-left: 30px;
            padding-right: 0px;
        }

        .input {
            padding-left: 0px;
        }

        .search {
            transition: background-color 0.6s ease;
            position: relative;
            left: 40px;
        }

        .search:hover {
            background-color: #3ebf9a;
        }

        .btn-secondary {
            border: none;
        }

        .legend {
            position: relative;
            left: 15px;
            bottom: 5px;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> Quản lý thông tin sản phẩm</h1>
            <p>Danh sách thông tin sản phẩm trong hệ thống</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a th:href="@{/admin/sanpham}">Product Management</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <form method="post" th:action="@{/admin/sanpham}" th:object="${sanpham}">
                        <fieldset>
                            <legend class="legend">Nhập thông tin tìm kiếm</legend>
                            <div class="row">
                                <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Từ khóa:</div>
                                <div class="input col-md-2">
                                    <input type="text" th:field="*{tuKhoa}" th:class="form-control"/>
                                </div>
                                <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Phòng ban:</div>
                                <div class="input col-md-2">
                                    <select th:field="*{loaiSP}" th:class="form-control">
                                        <option value="" label="Chọn phòng ban"></option>
                                        <th:block th:each="lsp : ${lstLoaiSP}">
                                            <option th:value="${lsp.loaiSanPham}" th:text="${lsp.loaiSanPham}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Chức vụ:</div>
                                <div class="input col-md-2">
                                    <select th:field="*{mauSac}" th:class="form-control">
                                        <option value="" label="Chọn chức vụ"></option>
                                        <th:block th:each="ms : ${lstMauSac}">
                                            <option th:value="${ms.mauSac}" th:text="${ms.mauSac}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div th:class="col-md-2">
                                    <button type="submit" class="search btn btn-secondary">Tìm kiếm</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Mã nhân viên</th>
                            <th>Họ tên</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sp : ${lstSP}">
                            <td th:text="${sp.tenSanPham}"></td>
                            <td th:text="${sp.giaSanPham}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>