@charset "UTF-8";
/*Áp dụng css cho menu2*/
#menu2{
	display: inline-block;
	background-color: red;
	width: 100%;
	height: 50px;
	font-size: 18px;
}

#menu2 ul{
	display: flex;
	margin: 0px;
	padding: 0px;
}

#menu2 li{
	list-style-type: none;
	width: 150px;
	height: 50px;
	place-content: center;
	text-align: center;
}

