* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif /* Áp dụng cho những nội dung chữ không có gạch chân */;
    font-size: 1.6rem;
    font-weight: normal;
}

.list {
    display: flex;
}

.list__item {
    width: 18%;
    height: 10rem;
    background-color: lightblue;
}





