<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.7.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/chude.js}"></script>
    <script type="text/javascript">
        function suaThongTin(maVB)
        {
            //Hiển thị thông tin chi tiết
            thongTinChiTiet(maVB);
        }

        function xoaThongTin(maVB)
        {
            $("#hVanBanId").val(maVB);
        }

        function hienThiThemMoi()
        {
            $("#modalTitle").text("Thêm mới thông tin chủ đề");
            $("#hChuDeId").text("");
            $("#maChuDe").val("");
            $("#tenChuDe").val("");
            $("#maChuDe").focus();
        }

        /*
        Ham xu ly them moi hoac cap nhat
         */
        function themMoiHoacCapNhat()
        {
            let form = $("#modalChuDe").validate({
                rules:{
                    tieuDe: "required",
                    maVanBan:{
                        required: true,
                        minlength: 3
                    }
                },
                messages:{
                    tieuDe: "Bạn cần phải nhập tên chủ đề",
                    maVanBan: {
                        required: "Bạn cần phải nhập mã chủ đề",
                        minlength: "Bạn cần nhập mã chủ đề tối thiểu 3 kí tự"
                    }
                },
                submitHandler: function(){
                    if(form.valid())
                    {
                        //Gọi hàm thêm mới hoặc sửa
                        xuLyThemMoi();
                    }
                }
            });
        }
    </script>
    <style type="text/css">
        .custom-width {
            padding-left: 65px;
            padding-top: 7px;
        }

        .input {
            padding-left: 0px;
        }

        .search {
            position: relative;
            left: 40px;
        }

        .btn-secondary {
            border: none;
        }

        .legend {
            position: relative;
            left: 15px;
            bottom: 5px;
        }

        th {
            text-align: center;
        }

        .title {
            color: #707070;
        }
    </style>
</head>
<body>
<div style="width: 100%; text-align: center">
    <h1>Quản lý thông tin văn bản</h1>
</div>
<form style="margin-bottom: 20px" method="post" th:action="@{/admin/vanban}" th:object="${vanban}">
    <fieldset>
        <legend class="legend">Nhập thông tin tìm kiếm</legend>
        <div class="row">
            <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Từ khóa:</div>
            <div class="input col-md-2">
                <input type="text" th:field="*{tuKhoa}" th:class="form-control"/>
            </div>
            <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Loại VB:</div>
            <div class="input col-md-2">
                <select th:field="*{loaiVanBan}" th:class="form-control">
                    <option value="" label="Chọn loại văn bản"></option>
                    <th:block th:each="p : ${lstLoaiVB}">
                        <option th:value="${p.tenLoaiVanban}" th:text="${p.tenLoaiVanban}"></option>
                    </th:block>
                </select>
            </div>
            <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Đơn vị:</div>
            <div class="input col-md-2">
                <select th:field="*{donVi}" th:class="form-control">
                    <option value="" label="Chọn đơn vị"></option>
                    <th:block th:each="c : ${lstDonVi}">
                        <option th:value="${c.maDonVi}" th:text="${c.tenDonVi}"></option>
                    </th:block>
                </select>
            </div>
            <div th:class="col-md-2">
                <button type="submit" class="search btn btn-secondary" style="border-radius: 5px">Tìm kiếm</button>
            </div>
        </div>
        <div style="height: 20px"></div>
        <div class="row">
            <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Từ ngày:</div>
            <div class="input col-md-2">
                <input type="date" th:field="*{tuNgay}" th:class="form-control" placeholder="dd/MM/YYYY"/>
            </div>
            <div class="custom-width col-md-1 d-flex align-items-center justify-content-center">Đến ngày:</div>
            <div class="input col-md-2">
                <input type="date" th:field="*{denNgay}" th:class="form-control" placeholder="dd/MM/YYYY"/>
            </div>
        </div>
    </fieldset>
</form>
<div style="width: 100%; text-align: right;">
    <a href="#" onclick="hienThiThemMoi()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalChuDe">Thêm
        mới</a>
</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Mã VB</th>
        <th>Tiêu đề</th>
        <th>Mô tả</th>
        <th>Ngày tạo</th>
        <th>Số trang</th>
        <th>Định dạng</th>
        <th>Loại văn bản</th>
        <th>File</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${lstVB}">
        <td th:text="${s.maVanBan}"></td>
        <td th:text="${s.tieuDe}"></td>
        <td th:text="${s.moTa}"></td>
        <td th:text="${#temporals.format(s.ngayTao, 'dd/MM/yyyy')}"></td>
        <td th:text="${s.soTrang}"></td>
        <td th:text="${s.dinhDang}"></td>
        <td th:text="${s.loaiVanBan}"></td>
        <td>
            <a th:href="@{'/admin/vanban/files/' + ${s.tenFile}}" target="_blank">Download</a>
        </td>

        <td>
            <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalVanBan" href="#" th:onclick="suaThongTin([[${s.maVanBan}]])" title="Sửa văn bản">Sửa
            </a>

            <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalXoa" href="#" th:onclick="xoaThongTin([[${s.maVanBan}]])" title="Xóa văn bản">Xóa
            </a>
        </td>
    </tr>
    </tbody>
</table>
<!--Thiết kế giao diện nhân viên dạng modal-->
<form id="modalVanBan" method="post" class="modal fade" tabindex="-1" aria-labelledby="Thêm văn bản" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Thêm mới thông tin văn bản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tile-body" id="tile-body">
                    <div class="form-group row">
                        <label class="col-md-3">
                            Mã văn bản:
                        </label>
                        <div class="col-md-9">
                            <input type="text" id="maVanBan" name="maVanBan" class="form-control"
                                   placeholder="Nhập mã văn bản"/>
                            <input type="hidden" id="hVanBanId" name="hVanBanId">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3">
                            Tiêu đề:
                        </label>
                        <div class="col-md-9">
                            <input id="tieuDe" name="tieuDe" type="text" class="form-control"
                                   placeholder="Nhập tiêu đề"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="themMoiHoacCapNhat()" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</form>
<!--Form modal hỏi xoá chủ đề-->
<fieldset id="modalXoa" class="modal fade" tabindex="-1" aria-labelledby="Xóa chủ đề" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Thông báo xoá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tile-body" id="title-delete">

                    <h3>Bạn có chắc chắn muốn xoá thông tin này không ? </h3>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="thucHienXoa()" class="btn btn-primary">Đồng ý</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</fieldset>
</body>
</html>